<div>
  <%= link_to 'New User', new_user_path, class: 'button alt' %>
</div>

<% @users.each do |user| %>
  <div>
    <h1><%= user.first_name %></h1><br />
    <i><%= user.last_name %></i><br />
    <p><%= user.email %></p><br />
  </div>

  <hr />
<% end %>


